* {
  font-family: "Helvetica",sans-serif;
}

.navbar-brand h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#main-grid {
	margin: 0px 10px;
}
#text-info {
	min-height: 1000px;
	background: grey;
}
#text-info p {
	margin: 20px 10px;
}
#nav-list {
	background: #9eceff;
	}
#nav-list hr {
	margin: 0;
	}